body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

nav{
    background-color: rgb(63, 61, 61);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 100px;
}

.logo-img {
 width: 300px; 
 }

#buscar{
    width: 280px;
    margin-top: 4px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


nav .nav-links ul{
    margin-right: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav .nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

nav .nav-login{
    background-color: rgb(49, 49, 49);
}

nav .nav-login a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.252);
    transition: 240ms;
    border-radius: 7px;
}

.secao{
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.imgs_grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-evenly;
    padding-left: 8%;
}

#destaque{
    width: 300px;
}

#venda{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    border: 2px solid rgb(238, 238, 238);
    padding: 10px;
}

#valor{
    color: rgb(142, 218, 28);
    font-size: 20px;
    font-weight: bold;
}

#add-carrinho{
    border: 2px solid  rgb(142, 218, 28);
    border-radius: 5px;
    background-color: white;
    color: rgb(142, 218, 28);
}

s{
    color: rgb(218, 84, 84);
}

footer{
    font-family: Verdana;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0px;
    bottom: 0;
    width: 100%;
}

.rodape a{
    text-decoration: none;
    color: rgb(153, 255, 51);
}

#form-login{
    background-color: rgb(255, 255, 255);
    border: solid 4px white;
    border-radius: 7px;
    width: 320px;
    margin: auto;
    display: block;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    color: rgb(83, 78, 78);
    font-weight: bolder;
    margin-bottom: 240px;
}

input{
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

input [type="radio"]{
    width: auto;
}

